$component: 'how';

.#{$component} {
  text-align: center;
  background: {
    color: get-color(brand-accent);
    image: url('~@images/background2_mobile.jpg');
    position: bottom left;
    repeat: no-repeat;
    size: cover;
  }

  .#{$component}__actions {
    font-size: 0.9em;

    .button {
      color: get-color(brand-accent-dark);
      margin-bottom: $global-spacing * 2;
    }

    .more-info {
      font-size: 0.8em;
    }
  }

  .section__next {
    bottom: $global-spacing * 8;
  }
}

@include media-breakpoint-up(lg) {
  .#{$component} {
    background-image: url('~@images/background2.jpg');

    > .container {
      margin-bottom: $global-spacing * 10;
    }

    .#{$component}__actions {
      margin-top: $global-spacing * 2;
    }

    .#{$component}__actions {
      font-size: 1rem;

      .more-info {
        font-size: 1em;
        margin-top: $spacing * 2;
      }
    }
  }
}
