$component: 'intro';

.#{$component} {
  text-align: center;
  background: {
    color: get-color(brand-main);
    image: url('~@images/background1.jpg');
    position: 55% 100%;
    repeat: no-repeat;
    size: 270%;
  }

  .#{$component}__headline {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0;
    width: 70%;
  }

  .#{$component}__paragraph {
    letter-spacing: 0.025em;
    margin-bottom: $global-spacing * 4;
  }

  .#{$component}__actions {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.9rem;
    margin: 0 auto;
    width: 60%;

    .button {
      margin-bottom: $global-spacing * 2;
    }
  }

  .logos {
    margin: 3rem auto 1rem;
    max-width: 200px;
  }

  .#{$component}__instructions {
    strong {
      display: block;
      text-transform: uppercase;
    }
  }
}

@include media-breakpoint-up(md) {
  .#{$component} {
    background-size: cover;

    .#{$component}__text {
      display: inline-block;
      max-width: 75%;
    }

    .#{$component}__actions {
      flex-flow: row nowrap;
      font-size: 1rem;
      justify-content: center;

      .button {
        margin: 0 $spacing;
      }
    }

    .#{$component}__instructions strong {
      display: inline-block;
    }

    .logos,
    .input-group {
      max-width: 400px;
    }
  }
}
