$block: 'playlists';

.#{$block} {
  text-align: center;
  background: {
    color: get-color(brand-main-dark);
    image: url('~@images/background3.jpg');
    position: bottom right;
    size: cover;
  }

  .#{$block}__description {
    margin-bottom: $global-spacing * 2;
  }
}

@include media-breakpoint-up(md) {
  .#{$block} {
    padding-bottom: $global-spacing * 4;

    .container > .row {
      justify-content: center;
    }
  }
}
