$component: 'section';

.#{$component} {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  padding: $global-spacing * 3 0;
  position: relative;

  .#{$component}__title {
    font-size: $global-spacing * 3;
    font-weight: 200;
    margin: $global-spacing;
    text-transform: uppercase;
  }

  .#{$component}__next {
    --button-size: 2rem;
    margin-top: 2rem;
  }
}

@include media-breakpoint-up(md) {
  .#{$component} {
    .#{$component}__next {
      bottom: var(--button-size, 1em);
      left: calc(50% - var(--button-size, 1em));
      position: absolute;
    }

    .#{$component}__title {
      font-size: $global-spacing * 5;
    }
  }
}
