.anim {
  $component: 'anim';
  animation-duration: 1000ms;

  &.#{$component}--infinite {
    animation-iteration-count: infinite;
  }

  &.#{$component}--bounce {
    animation-name: bounce;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}
