$component: 'button';

.button {
  $border-width: ($spacing / 4);

  align-items: center;
  background: transparent;
  border: 0;
  border-radius: $spacing * 3;
  box-shadow: none;
  display: inline-flex;
  font-size: 1em;
  font-weight: 500;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  padding: $spacing ($spacing * 2);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.#{$component}--outline {
    border: $border-width solid;
    transition: 250ms ease-in-out;
    will-change: color, background-color;
  }

  &.#{$component}--filled {
    padding: {
      bottom: $spacing + $border-width;
      top: $spacing + $border-width;
    }
  }

  &.#{$component}--light.#{$component}--filled,
  &.#{$component}--light:not(.#{$component}--filled):hover {
    background-color: get-color(brand-white);
    color: get-color(brand-black);
  }

  &.#{$component}--dark.#{$component}--filled,
  &.#{$component}--dark:not(.#{$component}--filled):hover {
    background-color: get-color(brand-black);
    color: get-color(brand-white);
  }

  &.#{$component}--light:not(.#{$component}--filled) {
    border-color: get-color(brand-white);
    color: get-color(brand-white);
  }

  &.#{$component}--dark:not(.#{$component}--filled) {
    border-color: get-color(brand-black);
    color: get-color(brand-black);
  }

  .#{$component}__icon {
    color: inherit;
    display: inline-block;
    fill: currentColor;
    height: auto;
    margin-left: $spacing / 2;
    vertical-align: middle;
    width: 1em;
  }

  &.#{$component}--icon {
    --button-size: 1em;
    --icon-size: calc(var(--button-size) / 2.5);
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: var(--button-size);
    height: var(--button-size);
    justify-content: center;
    line-height: 1;
    padding: 0;
    text-align: center;
    width: var(--button-size);
  }

  &.#{$component}--icon .icon {
    height: var(--icon-size, 1em);
    vertical-align: middle;
    width: var(--icon-size, 1em);
  }
}

@include media-breakpoint-up(md) {
  .#{$component} {
    padding: $spacing $spacing * 3;
  }
}
