.header {
  $component: 'header';
  @include position($top: 0);
  align-items: center;
  background-color: transparent;
  color: get-color(brand-white);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: $spacing ($spacing * 2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.6, 1);
  width: 100%;
  will-change: background-color;
  z-index: 5;

  &.#{$component}--active {
    @include position($pos: sticky, $top: 0);
    justify-content: space-between;

    .#{$component}__logo {
      display: inline-block;
    }
  }

  &.#{$component}--accent {
    background-color: get-color(brand-accent-light);
    z-index: 6;
  }

  &.#{$component}--primary {
    background-color: get-color(brand-main-light);
    z-index: 7;
  }

  .#{$component}__logo {
    display: none;
    width: 25%;
  }

  .#{$component}__menu-trigger {
    &.button:hover,
    &.button:focus {
      background-color: transparent;
      color: get-color(brand-white);
    }
  }
}

@include media-breakpoint-up(lg) {
  .header .header__logo {
    width: 8%;
  }
}
