$component: 'how-step';

.#{$component} {
  font-size: 0.9rem;
  margin-bottom: $global-spacing * 2;
  position: relative;
  padding: {
    bottom: $global-spacing * 4; // Needs be the double because of the margin-bottom
    left: $global-spacing;
    right: $global-spacing;
    top: $global-spacing * 2;
  }

  &::after {
    @include position($bottom: 0);
    background-color: get-color(brand-white);
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
  @at-root {
    .how-step-container:last-child &::after {
      display: none;
    }
  }

  .#{$component}__icon {
    margin-bottom: $spacing;
    width: 2em;
  }

  .#{$component}__title,
  .#{$component}__description {
    font-size: 1em;
  }

  .#{$component}__title {
    margin-bottom: $spacing;
    text-transform: uppercase;
  }
}

@include media-breakpoint-up(lg) {
  .#{$component} {
    font-size: 1rem;
    height: 100%;
    margin: 0 $global-spacing * 2;
    padding: 0;

    &::after {
      height: 80%;
      left: 110%;
      top: 20%;
      width: 1px;
    }

    .#{$component}__title {
      font-size: 1.4em;
    }
  }
}
