.input-group {
  $block: 'input-group';
  align-items: center;
  background: var(--brand-white, #fff);
  border-radius: 0.25em;
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: 1rem 1fr 1.3rem;
  margin: 0 auto 1em;
  padding: 0 0.5em;

  .#{$block}__icon {
    width: 1em;
  }

  .#{$block}__clear {
    background: get-color(brand-black);
    border-radius: 50%;
    fill: get-color(brand-white);
    font-size: 1.3rem;
  }

  .#{$block}__input {
    border: 0;
    border-top: 2px solid transparent;
    flex: 1;
    font-size: 1.1em;
    font-weight: 200;
    margin: 0 $global-spacing / 2;
    padding: 1rem 0;
    transition: border-top-color 250ms cubic-bezier(0.4, 0, 0.6, 1);

    &:focus {
      border-top-color: get-color(brand-secondary);
      outline: none;
    }
  }
}
