$component: 'logos';

.#{$component} {
  .#{$component}__spotify,
  .#{$component}__maple {
    width: 40%;
  }

  .#{$component}__maple {
    width: 25%;
  }

  .maples {
    margin: $global-spacing auto;
    position: relative;
    width: 50%;

    &::after,
    &::before {
      @include position($top: 50%, $bottom: 50%);
      background: get-color(brand-white);
      content: '';
      height: 1px;
      width: 25%;
    }

    &::after {
      left: -5%;
    }

    &::before {
      right: -5%;
    }
  }
}

@include media-breakpoint-up(md) {
  .#{$component} {
    .maples {
      &::after,
      &::before {
        width: 30px;
      }

      &::after {
        left: 20%;
      }

      &::before {
        right: 20%;
      }
    }

    .#{$component}__maple {
      width: 16%;
    }
  }
}
