$transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$component: 'nav';

.wrapper {
  // Esta clase esta aqui porque es usada solo para los propositos del PushOverMenu
  transition: $transition;
  will-change: transform;

  &.wrapper--open {
    transform: translateX(-60%);

    ~ .#{$component} {
      transform: translateX(0);
    }
  }
}

.#{$component} {
  @include position($right: 0, $top: 0, $pos: fixed);
  background-color: get-color(brand-white);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: space-between;
  transform: translateX(100%);
  transition: $transition;
  width: 60%;
  will-change: transform;
  z-index: 10;
  padding: {
    bottom: $spacing * 4;
    left: $spacing * 2;
    right: $spacing * 2;
    top: $spacing * 4;
  }

  .#{$component}__close {
    --button-size: 2rem;
    align-self: flex-end;
    color: get-color(brand-black);
    font-size: 0.75em;
  }

  .#{$component}__menu {
    color: get-color(brand-black);
    flex: 1;
    list-style-type: none;
    width: 100%;
  }

  .#{$component}__item {
    margin-top: $spacing / 2;
  }

  .#{$component}__link {
    color: get-color(brand-black);
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  .#{$component}__footer {
    color: get-color(brand-black);
    font-size: 0.7em;
    opacity: 0.8;
    text-decoration: none;
  }
}

@include media-breakpoint-up(md) {
  .wrapper.wrapper--open {
    transform: translateX(-25%);

    ~ .#{$component} {
      transform: translateX(0);
    }
  }

  .#{$component} {
    width: 25%;
  }
}
