$block: 'playlists-filter';

.#{$block} {
  font-size: 0.9rem;
  margin-bottom: $global-spacing;
  text-align: center;

  .#{$block}__button {
    width: 70%;
  }
}

.filters {
  display: flex;

  .filter {
    margin-top: $global-spacing * 2;
    text-transform: uppercase;

    &.filter--current {
      border-bottom: 2px solid;
      display: none;
      margin-right: $global-spacing * 6;
      padding-bottom: 1rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .#{$block} {
    font-size: 1rem;
    margin-bottom: 0;

    .#{$block}__button {
      margin-bottom: $global-spacing * 3;
      width: auto;
    }
  }

  .filters .filter {
    text-transform: none;

    &.filter--current {
      display: block;
    }
  }
}
