.playlist {
  $component: 'playlist';
  $border: 1px solid rgba(250, 250, 250, 0.8);

  align-items: flex-start;
  border-top: $border;
  display: grid;
  grid-column-gap: $global-spacing * 2;
  grid-template-columns: 1.5rem minmax(110px, 1fr) 2fr;
  padding: $global-spacing;

  &:last-child {
    border-bottom: $border;
  }

  .#{$component}__stats {
    text-align: center;
  }

  .#{$component}__cover {
    position: relative;
  }

  .#{$component}__image {
    display: block;
  }

  .#{$component}__play {
    --button-size: 2rem;
    @include position($right: $global-spacing, $bottom: $global-spacing);
    background: get-color(brand-black);
    border: 2px solid get-color(brand-white);
    vertical-align: middle;

    .icon {
      fill: get-color(brand-white);
      transform: rotate(90deg);
    }
  }

  .#{$component}__position {
    font-size: 1.35rem;
    margin-bottom: $global-spacing;
  }

  .#{$component}__position ~ .divider {
    background: get-color(brand-grey);
    display: inline-block;
    height: 1px;
    width: 100%;
    margin: {
      bottom: $global-spacing * 2;
      left: 0;
      right: 0;
      top: $global-spacing;
    }
  }

  .#{$component}__ranking {
    --ranking-color: get-color(state-neutral);
    --ranking-rotation: 0;
    color: var(--ranking-color);
    font-size: 0.9rem;
  }

  .#{$component}__ranking--positive {
    --ranking-color: get-color(state-positive);
  }

  .#{$component}__ranking--negative {
    --ranking-rotation: 180deg;
    --ranking-color: get-color(state-negative);
  }

  .#{$component}__ranking-icon {
    fill: var(--ranking-color);
    transform: rotate(var(--ranking-rotation));
    width: 1em;
  }

  // playlist__info
  .#{$component}__info {
    text-align-last: left;
  }

  .#{$component}__name {
    font-weight: 500;
  }

  .#{$component}__creator {
    font-size: 0.9rem;
    font-weight: 200;
  }

  .#{$component}__action {
    font-size: 0.7em;
    margin-top: $global-spacing;
    padding: $spacing / 2 $spacing * 2;
  }
}
