@mixin position($left: false, $right: false, $top: false, $bottom: false, $pos: absolute) {
  position: $pos;
  @if ($bottom) {
    bottom: $bottom;
  }
  @if ($top) {
    top: $top;
  }
  @if ($left) {
    left: $left;
  }
  @if ($right) {
    right: $right;
  }
}
