:root {
  @each $colorName, $color in $brand-colors {
    --#{$colorName}: $color;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.25;
}

a {
  color: get-color(brand-white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  color: get-color(brand-white);
  font-family: $font-stack;
  overflow-x: hidden;
}
