$brand-colors: (
  brand-white: #fff,
  brand-black: #111618,
  brand-grey: #887c81,
  brand-main: #eb1e32,
  brand-main-dark: #8c1932,
  brand-main-light: #8b3a4d,
  brand-secondary: #341d47,
  brand-accent: #1e3264,
  brand-accent-dark: #00003e,
  brand-accent-light: #3e4c70,
  state-positive: #5ff550,
  state-negative: #eb1e32,
  state-neutral: #fae62d
);
