@font-face {
  font-family: 'Proxima Nova';
  font-weight: 200;
  src: url('./fonts/ProximaNova-Light.woff') format('woff');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('./fonts/ProximaNova-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('./fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('./fonts/ProximaNova-Bold.woff') format('woff');
}
