$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-stack: Proxima Nova; //, $system-fonts;
$border-radius: (
  xs: 0.2em,
  sm: 0.5em,
  lg: 1em,
  xl: 2em
);
$spacing: 0.5em;
$global-spacing: 0.5rem;
$border-width: ($global-spacing / 4);
