<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    Get Started -
    <%= require('../package.json').ProjectConfig.displayName %>
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#eb1e32">
</head>

<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
  <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
  <header class="header">
    <img src="<%= require('@images/spotify_logo.svg') %>" alt="Spotify Logo" class="header__logo">
    <button class="header__menu-trigger button button--light nav__open">
      Menu
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12" aria-label="Toggle Menu" class="button__icon">
        <path class="cls-1" d="M1.14,2.07H13.86a1,1,0,0,0,.88-1,1,1,0,0,0-.88-1H1.14A1,1,0,0,0,.26,1,1,1,0,0,0,1.14,2.07ZM13.86,5H1.14A1,1,0,0,0,.26,6a1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,5Zm0,5H1.14a1,1,0,0,0-.88,1,1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,9.93Z"
        />
      </svg>
    </button>
  </header>
  <div id="PageWrapper" class="wrapper">
    <main id="main" class="main">
      <section id="intro" class="section section--intro intro">
        <div class="container">
          <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
              <div class="logos">
                <img class="logos__spotify" src="<%= require('@images/spotify_logo.svg') %>" alt="">
                <img class="logos__soundclash" src="<%= require('@images/soundclash_logo.svg') %>" alt="">
                <div class="maples">
                  <img class="logos__maple" src="<%= require('@images/maple.png') %>" alt="">
                </div>
              </div>
              <!-- /.logos -->
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
              <div class="intro__text">
                <p class="intro__paragraph">Start with some songs</p>
              </div>
              <div class="input-group">
                <img class="input-group__icon" src="<%= require('@images/search.svg') %>" alt="">
                <input type="text" name="SongName" id="SongName" class="input-group__input" aria-label="Enter an artist, song or album" placeholder="Enter an artist, song or album">
                <button class="button button--icon input-group__clear" type="reset" aria-label="Clear search">
                  <svg class=" icon " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 16 16 " aria-hidden="true ">
                    <use href="images/close.svg#Layer_1 "></use>
                  </svg>
                </button>
              </div>
              <!-- /.input-group -->
              <!-- /.intro__text -->
              <p class="intro__instructions ">Already have a sound Clash playlist?
                <strong>
                  <a href="#login ">Log In</a>
                </strong>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /#intro -->
      <!-- /.playlists -->
    </main>
  </div>
  <nav class="nav " tabindex="-1 " aria-hidden="true ">
    <button href="# " class="nav__close button button--icon " aria-label="Close Menu ">
      <svg class="icon " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 16 16 ">
        <use href="images/close.svg#Layer_1 "></use>
      </svg>
    </button>
    <ul class="nav__menu ">
      <li class="nav__item ">
        <a href="#1 " class="nav__link button " tabindex="-1 ">Home</a>
      </li>
      <li class="nav__item ">
        <a href="#2 " class="nav__link button " tabindex="-1 ">Leaderboard</a>
      </li>
      <li class="nav__item ">
        <a href="#3 " class="nav__link button " tabindex="-1 ">Prizes</a>
      </li>
      <li class="nav__item ">
        <a href="#4 " class="nav__link button " tabindex="-1 ">F.A.Q</a>
      </li>
      <li class="nav__item ">
        <a href="#5 " class="nav__link button " tabindex="-1 ">Official Rules</a>
      </li>
    </ul>
    <!-- /.nav__menu -->
    <a href="#foot " class="nav__footer ">&copy;2007-2015 Spotify AB</a>
  </nav>
  <!-- /.nav -->
</body>
