<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%= require('../package.json').ProjectConfig.displayName %>
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#eb1e32">
</head>

<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
  <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
  <header class="header">
    <img src="<%= require('@images/spotify_logo.svg') %>" alt="Spotify Logo" class="header__logo">
    <button class="header__menu-trigger button button--light nav__open">
      Menu
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12" aria-label="Toggle Menu" class="button__icon">
        <path class="cls-1" d="M1.14,2.07H13.86a1,1,0,0,0,.88-1,1,1,0,0,0-.88-1H1.14A1,1,0,0,0,.26,1,1,1,0,0,0,1.14,2.07ZM13.86,5H1.14A1,1,0,0,0,.26,6a1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,5Zm0,5H1.14a1,1,0,0,0-.88,1,1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,9.93Z"
        />
      </svg>
    </button>
  </header>
  <!-- /.header -->
  <div id="PageWrapper" class="wrapper">
    <main id="main" class="main">
      <section id="intro" class="section section--intro intro">
        <div class="container">
          <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
              <div class="logos">
                <img class="logos__spotify" src="<%= require('@images/spotify_logo.svg') %>" alt="">
                <img class="logos__soundclash" src="<%= require('@images/soundclash_logo.svg') %>" alt="">
                <div class="maples">
                  <img class="logos__maple" src="<%= require('@images/maple.png') %>" alt="">
                </div>
              </div>
              <!-- /.logos -->
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
              <div class="intro__text">
                <h2 class="intro__headline">Think you can build the ultimate playlist?</h2>
                <p class="intro__paragraph">You could win an exclusive internship at Spotify Canada, plus weekly prize packs, free Premium and tickets to summer concerts & festivals!</p>
              </div>
              <!-- /.intro__text -->
              <div class="intro__actions">
                <a href="/get-started.html" class="button button--filled button--light">
                  Get Started
                </a>
                <a href="#how" class="button button--outline button--light">
                  How it works?
                </a>
              </div>
              <!-- /.intro__actions -->
            </div>
          </div>
        </div>
        <a href="#how" class="button button--icon section__next anim anim--bounce anim--infinite" aria-label="Next Section: How it works">
          <img src="<%= require('@images/arrow_down.svg') %>" alt="">
        </a>
      </section>
      <!-- /#intro -->
      <header class="header header--active header--accent">
        <img src="<%= require('@images/spotify_logo.svg') %>" alt="Spotify Logo" class="header__logo">
        <button class="header__menu-trigger button button--light nav__open">
          Menu
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12" aria-label="Toggle Menu" class="button__icon">
            <path class="cls-1" d="M1.14,2.07H13.86a1,1,0,0,0,.88-1,1,1,0,0,0-.88-1H1.14A1,1,0,0,0,.26,1,1,1,0,0,0,1.14,2.07ZM13.86,5H1.14A1,1,0,0,0,.26,6a1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,5Zm0,5H1.14a1,1,0,0,0-.88,1,1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,9.93Z"
            />
          </svg>
        </button>
      </header>
      <section id="how" class="section how section--how">
        <div class="container">
          <h2 class="section__title">How It Works</h2>
          <div class="row">
            <div class="col-10 offset-1 col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col-12 col-lg-4 how-step-container">
                  <div class="how-step">
                    <img src="<%= require('@images/create.svg') %>" alt="" class="how-step__icon">
                    <h3 class="how-step__title">1. Create</h3>
                    <!-- /.how-step__title -->
                    <p class="description">a 15-track playlist that defines your student life</p>
                    <!-- /.description -->
                  </div>
                  <!-- /.how-step -->
                </div>
                <div class="col-12 col-lg-4 how-step-container">
                  <div class="how-step">
                    <img src="<%= require('@images/register.svg') %>" alt="" class="how-step__icon">
                    <h3 class="how-step__title">2. Register</h3>
                    <!-- /.how-step__title -->
                    <p class="description">your playlist on Sound Clash using your Spotify username and password.</p>
                    <!-- /.description -->
                  </div>
                  <!-- /.how-step -->
                </div>
                <div class="col-12 col-lg-4 how-step-container">
                  <div class="how-step">
                    <img src="<%= require('@images/share.svg') %>" alt="" class="how-step__icon">
                    <h3 class="how-step__title">2. Share</h3>
                    <!-- /.how-step__title -->
                    <p class="description">your playlist and get followers. Gain 25 followers to get your Spotify Prize Pack. The owners of the 5 most-followed playlists overall
                      will interview for the internship.</p>
                    <!-- /.description -->
                  </div>
                  <!-- /.how-step -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1 how__actions">
              <a href="/get-started.html" class="button button--filled button--light">Get Started</a>
              <p class="more-info">Need more info? Check out our
                <strong>
                  <a href="#FAQ">FAQ</a>
                </strong>
              </p>
            </div>
          </div>
        </div>
        <a href="#playlists" class="button button--icon section__next anim anim--bounce anim--infinite" aria-label="Next Section: Top Playlists">
          <img src="<%= require('@images/arrow_down.svg') %>" alt="">
        </a>
      </section>
      <!-- /#how.section section--how -->
      <header class="header header--active header--primary">
        <img src="<%= require('@images/spotify_logo.svg') %>" alt="Spotify Logo" class="header__logo">
        <button class="header__menu-trigger button button--light nav__open">
          Menu
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12" aria-label="Toggle Menu" class="button__icon">
            <path class="cls-1" d="M1.14,2.07H13.86a1,1,0,0,0,.88-1,1,1,0,0,0-.88-1H1.14A1,1,0,0,0,.26,1,1,1,0,0,0,1.14,2.07ZM13.86,5H1.14A1,1,0,0,0,.26,6a1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,5Zm0,5H1.14a1,1,0,0,0-.88,1,1,1,0,0,0,.88,1H13.86a1,1,0,0,0,.88-1A1,1,0,0,0,13.86,9.93Z"
            />
          </svg>
        </button>
      </header>
      <section id="playlists" class="section playlists section--playlists">
        <div class="container">
          <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-0 col-lg-5 offset-lg-0">
              <h2 class="section__title">Leaderboard</h2>
              <p class="playlists__description">Share your playlist everywhere to get the most followers!</p>
              <div class="playlists-filter">
                <button class="button button--outline button--light playlists-filter__button">Filter
                  <span class="sr-only">By:</span>
                  <img class="button__icon" src="<%= require('@images/arrow_down.svg') %>" alt="">
                </button>
                <div class="filters">
                  <strong class="filter filter--current">Hot This Week</strong>
                  <p class="filter">All Time</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-8 col-lg-5">
              <div class="playlist">
                <p class="sr-only sr-only-focusable">
                  <strong>Playlist Name:</strong>The Boat Club</p>
                <div class="playlist__stats">
                  <span class="sr-only">Current Position: </span>
                  <p class="playlist__position">1</p>
                  <div class="divider"></div>
                  <span class="sr-only">Stats this week: </span>
                  <p class="playlist__ranking playlist__ranking--positive">
                    <svg class="playlist__ranking-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 15" aria-hidden="true">
                      <use href="images/arrow_stats.svg#Layer_1"></use>
                    </svg>
                    <span>+3</span>
                  </p>
                </div>
                <!-- /.playlist__stats -->
                <div class="playlist__cover">
                  <img class="playlist__image" src="<%= require('@images/the_boat_club.png') %>" alt="">
                  <button class="button button--icon playlist__play" aria-label="Listen playlist">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 15">
                      <use href="images/arrow_stats.svg#Layer_1"></use>
                    </svg>
                  </button>
                </div>
                <!-- /.playlist__cover -->
                <div id="plinfo" class="playlist__info">
                  <span class="sr-only">Playlist Name: </span>
                  <h4 class="playlist__name"> The Boat Club</h4>
                  <span class="sr-only">Playlist Creator: </span>
                  <p class="playlist__creator"> Oxford Brookes</p>
                  <a href="#TBC_OB" class="button button--filled button--light playlist__action">Go to Playlist</a>
                </div>
                <!-- /.playlist__info -->
              </div>
              <!-- /.playlist -->
              <div class="playlist">
                <p class="sr-only sr-only-focusable">
                  <strong>Playlist Name:</strong>Curc</p>
                <div class="playlist__stats">
                  <span class="sr-only">Current Position: </span>
                  <p class="playlist__position">2</p>
                  <div class="divider"></div>
                  <span class="sr-only">Stats this week: </span>
                  <p class="playlist__ranking playlist__ranking--negative">
                    <svg class="playlist__ranking-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 15" aria-hidden="true">
                      <use href="images/arrow_stats.svg#Layer_1"></use>
                    </svg>
                    <span>-1</span>
                  </p>
                </div>
                <!-- /.playlist__stats -->
                <div class="playlist__cover">
                  <img class="playlist__image" src="<%= require('@images/curc.png') %>" alt="">
                  <button class="button button--icon playlist__play" aria-label="Listen playlist">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 15">
                      <use href="images/arrow_stats.svg#Layer_1"></use>
                    </svg>
                  </button>
                </div>
                <!-- /.playlist__cover -->
                <div id="plinfo" class="playlist__info">
                  <span class="sr-only">Playlist Name: </span>
                  <h4 class="playlist__name"> Curc</h4>
                  <span class="sr-only">Playlist Creator: </span>
                  <p class="playlist__creator">Cardiff University</p>
                  <a href="#TBC_OB" class="button button--filled button--light playlist__action">Go to Playlist</a>
                </div>
                <!-- /.playlist__info -->
              </div>
              <!-- /.playlist -->
              <div class="playlist">
                <p class="sr-only sr-only-focusable">
                  <strong>Playlist Name:</strong>ProjectD</p>
                <div class="playlist__stats">
                  <span class="sr-only">Current Position: </span>
                  <p class="playlist__position">3</p>
                  <div class="divider"></div>
                  <p class="playlist__ranking">
                    <svg class="playlist__ranking-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 15" aria-hidden="true">
                      <use href="images/dot_yellow.svg#Layer_1"></use>
                    </svg>
                  </p>
                </div>
                <!-- /.playlist__stats -->
                <div class="playlist__cover">
                  <img class="playlist__image" src="<%= require('@images/projectd.png') %>" alt="">
                  <button class="button button--icon playlist__play" aria-label="Listen playlist">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 15">
                      <use href="images/arrow_stats.svg#Layer_1"></use>
                    </svg>
                  </button>
                </div>
                <!-- /.playlist__cover -->
                <div id="plinfo" class="playlist__info">
                  <span class="sr-only">Playlist Name: </span>
                  <h4 class="playlist__name"> ProjectD</h4>
                  <span class="sr-only">Playlist Creator: </span>
                  <p class="playlist__creator">University of York</p>
                  <a href="#TBC_OB" class="button button--filled button--light playlist__action">Go to Playlist</a>
                </div>
                <!-- /.playlist__info -->
              </div>
              <!-- /.playlist -->
            </div>
          </div>
        </div>
        <!-- /.container -->
      </section>
      <!-- /.playlists -->
    </main>
  </div>
  <nav class="nav" tabindex="-1" aria-hidden="true">
    <button href="#" class="nav__close button button--icon" aria-label="Close Menu">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <use href="images/close.svg#Layer_1"></use>
      </svg>
    </button>
    <ul class="nav__menu">
      <li class="nav__item">
        <a href="#1" class="nav__link button" tabindex="-1">Home</a>
      </li>
      <li class="nav__item">
        <a href="#2" class="nav__link button" tabindex="-1">Leaderboard</a>
      </li>
      <li class="nav__item">
        <a href="#3" class="nav__link button" tabindex="-1">Prizes</a>
      </li>
      <li class="nav__item">
        <a href="#4" class="nav__link button" tabindex="-1">F.A.Q</a>
      </li>
      <li class="nav__item">
        <a href="#5" class="nav__link button" tabindex="-1">Official Rules</a>
      </li>
    </ul>
    <!-- /.nav__menu -->
    <a href="#foot" class="nav__footer">&copy;2007-2015 Spotify AB</a>
  </nav>
  <!-- /.nav -->
</body>
